[submodule "Plugins/UnrealSharp"]
	path = Plugins/UnrealSharp
	url = https://github.com/retroandchill/UnrealSharp.git
[submodule "Plugins/PokeSharp"]
	path = Plugins/PokeSharp
	url = https://github.com/retroandchill/PokeSharpUE.git
